/* 距离排版 */
.m-0 {
  margin: 0!important;
}
.m-t-0 {
  margin-top: 0!important;
}
.m-b-0 {
  margin-bottom: 0!important;
}
.m-l-0 {
  margin-left: 0!important;
}
.m-r-0 {
  margin-right: 0!important;
}
.m-5 {
  margin: 5px!important;
}
.m-t-5 {
  margin-top: 5px!important;
}
.m-b-5 {
  margin-bottom: 5px!important;
}
.m-l-5 {
  margin-left: 5px!important;
}
.m-r-5 {
  margin-right: 5px!important;
}
.m-10 {
  margin: 10px!important;
}
.m-t-10 {
  margin-top: 10px!important;
}
.m-b-10 {
  margin-bottom: 10px!important;
}
.m-l-10 {
  margin-left: 10px!important;
}
.m-r-10 {
  margin-right: 10px!important;
}
.m-15 {
  margin: 15px!important;
}
.m-t-15 {
  margin-top: 15px!important;
}
.m-b-15 {
  margin-bottom: 15px!important;
}
.m-l-15 {
  margin-left: 15px!important;
}
.m-r-15 {
  margin-right: 15px!important;
}
.m-20 {
  margin: 20px!important;
}
.m-t-20 {
  margin-top: 20px!important;
}
.m-b-20 {
  margin-bottom: 20px!important;
}
.m-l-20 {
  margin-left: 20px!important;
}
.m-r-20 {
  margin-right: 20px!important;
}
.m-25 {
  margin: 25px!important;
}
.m-t-25 {
  margin-top: 25px!important;
}
.m-b-25 {
  margin-bottom: 25px!important;
}
.m-l-25 {
  margin-left: 25px!important;
}
.m-r-25 {
  margin-right: 25px!important;
}
.m-30 {
  margin: 30px!important;
}
.m-t-30 {
  margin-top: 30px!important;
}
.m-b-30 {
  margin-bottom: 30px!important;
}
.m-l-30 {
  margin-left: 30px!important;
}
.m-r-30 {
  margin-right: 30px!important;
}
.p-0 {
  padding: 0!important;
}
.p-t-0 {
  padding-top: 0!important;
}
.p-b-0 {
  padding-bottom: 0!important;
}
.p-l-0 {
  padding-left: 0!important;
}
.p-r-0 {
  padding-right: 0!important;
}
.p-5 {
  padding: 5px!important;
}
.p-t-5 {
  padding-top: 5px!important;
}
.p-b-5 {
  padding-bottom: 5px!important;
}
.p-l-5 {
  padding-left: 5px!important;
}
.p-r-5 {
  padding-right: 5px!important;
}
.p-10 {
  padding: 10px!important;
}
.p-t-10 {
  padding-top: 10px!important;
}
.p-b-10 {
  padding-bottom: 10px!important;
}
.p-l-10 {
  padding-left: 10px!important;
}
.p-r-10 {
  padding-right: 10px!important;
}
.p-15 {
  padding: 15px!important;
}
.p-t-15 {
  padding-top: 15px!important;
}
.p-b-15 {
  padding-bottom: 15px!important;
}
.p-l-15 {
  padding-left: 15px!important;
}
.p-r-15 {
  padding-right: 15px!important;
}
.p-20 {
  padding: 20px!important;
}
.p-t-20 {
  padding-top: 20px!important;
}
.p-b-20 {
  padding-bottom: 20px!important;
}
.p-l-20 {
  padding-left: 20px!important;
}
.p-r-20 {
  padding-right: 20px!important;
}
.p-25 {
  padding: 25px!important;
}
.p-t-25 {
  padding-top: 25px!important;
}
.p-b-25 {
  padding-bottom: 25px!important;
}
.p-l-25 {
  padding-left: 25px!important;
}
.p-r-25 {
  padding-right: 25px!important;
}
.p-30 {
  padding: 30px!important;
}
.p-t-30 {
  padding-top: 30px!important;
}
.p-b-30 {
  padding-bottom: 30px!important;
}
.p-l-30 {
  padding-left: 30px!important;
}
.p-r-30 {
  padding-right: 30px!important;
}

/* 背景颜色&文字颜色 */
[class*=bgm-],[class*=bgm-] h2,[class*=bgm-] h2 small,[class*=bgm-] p {
	color: #FFFFFF!important;;
}
.bgm-black {
  background-color: #000!important;
}
.bgm-brown {
  background-color: #795548!important;
}
.bgm-pink {
  background-color: #E91E63!important;
}
.bgm-red {
  background-color: #F44336!important;
}
.bgm-blue {
  background-color: #2196F3!important;
}
.bgm-purple {
  background-color: #BA68C8!important;
}
.bgm-deeppurple {
  background-color: #673AB7!important;
}
.bgm-lightblue {
  background-color: #03A9F4!important;
}
.bgm-cyan {
  background-color: #00BCD4!important;
}
.bgm-teal {
  background-color: #009688!important;
}
.bgm-green {
  background-color: #4CAF50!important;
}
.bgm-lightgreen {
  background-color: #8BC34A!important;
}
.bgm-lime {
  background-color: #CDDC39!important;
}
.bgm-yellow {
  background-color: #FFEB3B!important;
}
.bgm-amber {
  background-color: #FFC107!important;
}
.bgm-orange {
  background-color: #FF9800!important;
}
.bgm-deeporange {
  background-color: #FF5722!important;
}
.bgm-gray {
  background-color: #9E9E9E!important;
}
.bgm-bluegray {
  background-color: #607D8B!important;
}
.bgm-indigo {
  background-color: #3F51B5!important;
}

/* 文字排版 */
.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before{
  content: '';
}
.blockquote-reverse footer:after {
  content: '\00A0 \2014';
}
.lead {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width:768px) {
  .lead {
    font-size: 19.5px;
  }
}
.c-black {
  color: #000!important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/* 列表排版 */
.clist {
  list-style: none;
}
.clist>li:before {
  font-family: Material-Design-Iconic-Font;
  margin: 0 10px 0 -20px;
  vertical-align: middle
}
.clist.clist-angle>li:before {
  content: "\f2fb";
}
.clist.clist-check>li:before {
  content: "\f26b";
}
.clist.clist-star>li:before {
  content: "\f27d";
}

/* 字体大小 */
.f-8 {
  font-size: 8px!important;
}
.f-9 {
  font-size: 9px!important;
}
.f-10 {
  font-size: 10px!important;
}
.f-11 {
  font-size: 11px!important;
}
.f-12 {
  font-size: 12px!important;
}
.f-13 {
  font-size: 13px!important;
}
.f-14 {
  font-size: 14px!important;
}
.f-15 {
  font-size: 15px!important;
}
.f-16 {
  font-size: 16px!important;
}
.f-17 {
  font-size: 17px!important;
}
.f-18 {
  font-size: 18px!important;
}
.f-19 {
  font-size: 19px!important;
}
.f-20 {
  font-size: 20px!important;
}
.f-300 {
  font-weight: 300!important;
}
.f-400 {
  font-weight: 400!important;
}
.f-500 {
  font-weight: 500!important;
}
.f-700 {
  font-weight: 700!important;
}