/* 文字排版 */
.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before{
  content: '';
}
.blockquote-reverse footer:after {
  content: '\00A0 \2014';
}
.lead {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width:768px) {
  .lead {
    font-size: 19.5px;
  }
}
.c-black {
  color: #000!important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/* 列表排版 */
.clist {
  list-style: none;
}
.clist>li:before {
  font-family: Material-Design-Iconic-Font;
  margin: 0 10px 0 -20px;
  vertical-align: middle
}
.clist.clist-angle>li:before {
  content: "\f2fb";
}
.clist.clist-check>li:before {
  content: "\f26b";
}
.clist.clist-star>li:before {
  content: "\f27d";
}